In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('sample.sqlite')

In [3]:
cursor = conn.cursor()
print('Opened as needed')

Opened as needed

In [4]:
#conn.commit() : Runs command
#and conn.close() : Closes that db after changes?

In [5]:
cursor.execute('''CREATE TABLE SampleTable
        (ID INT PRIMARY KEY NOT NULL,
        NAME            TEXT NOT NULL,
        AGE             INT NOT NULL,
        ADDRESS         CHAR(50),
        MARKS           INT);''')

In [9]:
cursor.execute('''INSERT INTO SampleTable (ID, NAME, AGE, ADDRESS, MARKS) \
        VALUES (1, "Rohan", 14, "Delhi", 200)''');
cursor.execute('''INSERT INTO SampleTable (ID, NAME, AGE, ADDRESS, MARKS) \
        VALUES (2, "Allen", 15, "Banglagore", 150)''');
cursor.execute('''INSERT INTO SampleTable (ID, NAME, AGE, ADDRESS, MARKS) \
        VALUES (3, "Bob", 16, "Delhi", 200)''');
cursor.execute('''INSERT INTO SampleTable (ID, NAME, AGE, ADDRESS, MARKS) \
        VALUES (4, "Palak", 12, "Kolkata", 650)''');
conn.commit()

In [ ]:
for row in cursor.execute