In [47]:
import sqlalchemy
import sqlite3

In [48]:
engine = sqlalchemy.create_engine('sqlite:///buddymove_holidyiq.sqlite3')

In [13]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [14]:
%sql sqlite:///buddymove_holidyiq.sqlite3

'Connected: @buddymove_holidyiq.sqlite3'

In [49]:
import pandas as pd

In [50]:
df = pd.read_csv('~/lambda/sql_project/DS-Unit-3-Sprint-2-SQL-and-Databases/module1-introduction-to-sql/buddymove_holidayiq.csv')

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   User Id    249 non-null    object
 1   Sports     249 non-null    int64
 2   Religious  249 non-null    int64
 3   Nature     249 non-null    int64
 4   Theatre    249 non-null    int64
 5   Shopping   249 non-null    int64
 6   Picnic     249 non-null    int64
dtypes: int64(6), object(1)
memory usage: 13.7+ KB

In [52]:
df.head()

  User Id  Sports  Religious  Nature  Theatre  Shopping  Picnic
0  User 1       2         77      79       69        68      95
1  User 2       2         62      76       76        69      68
2  User 3       2         50      97       87        50      75
3  User 4       2         68      77       95        76      61
4  User 5       2         98      54       59        95      86

In [53]:
df.to_sql('test', con=engine)

ValueError: Table 'test' already exists.

In [56]:

# Write a query
query1 = 'SELECT COUNT(*) FROM test;'

engine.execute("SELECT * FROM test").fetchall()

[(0, 'User 1', 2, 77, 79, 69, 68, 95),
 (1, 'User 2', 2, 62, 76, 76, 69, 68),
 (2, 'User 3', 2, 50, 97, 87, 50, 75),
 (3, 'User 4', 2, 68, 77, 95, 76, 61),
 (4, 'User 5', 2, 98, 54, 59, 95, 86),
 (5, 'User 6', 3, 52, 109, 93, 52, 76),
 (6, 'User 7', 3, 64, 85, 82, 73, 69),
 (7, 'User 8', 3, 54, 107, 92, 54, 76),
 (8, 'User 9', 3, 64, 108, 64, 54, 93),
 (9, 'User 10', 3, 86, 76, 74, 74, 103),
 (10, 'User 11', 3, 107, 54, 64, 103, 94),
 (11, 'User 12', 3, 103, 60, 63, 102, 93),
 (12, 'User 13', 3, 64, 82, 82, 75, 69),
 (13, 'User 14', 3, 93, 54, 74, 103, 69),
 (14, 'User 15', 3, 63, 82, 81, 78, 69),
 (15, 'User 16', 3, 82, 79, 75, 75, 82),
 (16, 'User 17', 5, 59, 131, 103, 54, 86),
 (17, 'User 18', 5, 56, 124, 108, 56, 85),
 (18, 'User 19', 4, 85, 67, 111, 65, 72),
 (19, 'User 20', 5, 114, 83, 65, 114, 102),
 (20, 'User 21', 4, 93, 82, 79, 79, 90),
 (21, 'User 22', 4, 105, 52, 75, 113, 78),
 (22, 'User 23', 5, 69, 118, 74, 66, 101),
 (23, 'User 24', 4, 71, 123, 64, 59, 102),
 (24, 'User 25', 5, 88, 94, 81, 79, 91),
 (25, 'User 26', 5, 83, 99, 89, 74, 91),
 (26, 'User 27', 5, 69, 133, 74, 54, 101),
 (27, 'User 28', 5, 128, 53, 74, 117, 105),
 (28, 'User 29', 5, 74, 123, 69, 61, 101),
 (29, 'User 30', 5, 79, 93, 118, 90, 72),
 (30, 'User 31', 4, 51, 115, 110, 51, 84),
 (31, 'User 32', 5, 69, 93, 93, 81, 79),
 (32, 'User 33', 4, 100, 53, 86, 112, 78),
 (33, 'User 34', 4, 88, 69, 108, 71, 77),
 (34, 'User 35', 4, 93, 84, 75, 84, 112),
 (35, 'User 36', 4, 79, 86, 110, 93, 73),
 (36, 'User 37', 4, 87, 72, 112, 63, 71),
 (37, 'User 38', 5, 65, 128, 79, 56, 101),
 (38, 'User 39', 4, 91, 66, 110, 69, 71),
 (39, 'User 40', 4, 93, 79, 74, 92, 90),
 (40, 'User 41', 5, 59, 118, 108, 63, 85),
 (41, 'User 42', 5, 65, 103, 90, 80, 79),
 (42, 'User 43', 4, 87, 89, 76, 89, 111),
 (43, 'User 44', 4, 93, 85, 79, 85, 91),
 (44, 'User 45', 5, 93, 94, 79, 79, 113),
 (45, 'User 46', 5, 74, 130, 74, 53, 101),
 (46, 'User 47', 4, 118, 59, 69, 119, 97),
 (47, 'User 48', 4, 101, 61, 76, 113, 78),
 (48, 'User 49', 5, 88, 99, 79, 83, 114),
 (49, 'User 50', 4, 74, 87, 87, 79, 79),
 (50, 'User 51', 14, 148, 59, 104, 208, 119),
 (51, 'User 52', 5, 93, 89, 74, 89, 93),
 (52, 'User 53', 4, 79, 103, 68, 103, 85),
 (53, 'User 54', 4, 76, 92, 111, 90, 71),
 (54, 'User 55', 8, 94, 140, 89, 118, 92),
 (55, 'User 56', 8, 108, 109, 89, 89, 143),
 (56, 'User 57', 6, 98, 89, 133, 79, 79),
 (57, 'User 58', 8, 84, 118, 102, 94, 90),
 (58, 'User 59', 8, 138, 74, 79, 143, 118),
 (59, 'User 60', 6, 74, 109, 103, 89, 88),
 (60, 'User 61', 8, 118, 104, 94, 94, 118),
 (61, 'User 62', 8, 94, 128, 89, 128, 99),
 (62, 'User 63', 8, 64, 155, 118, 64, 97),
 (63, 'User 64', 6, 84, 108, 138, 103, 79),
 (64, 'User 65', 8, 108, 109, 94, 99, 138),
 (65, 'User 66', 6, 89, 108, 128, 116, 81),
 (66, 'User 67', 6, 103, 79, 148, 74, 79),
 (67, 'User 68', 6, 103, 109, 99, 89, 108),
 (68, 'User 69', 8, 108, 99, 94, 94, 138),
 (69, 'User 70', 8, 108, 109, 104, 79, 133),
 (70, 'User 71', 8, 138, 59, 84, 138, 128),
 (71, 'User 72', 8, 79, 143, 113, 69, 109),
 (72, 'User 73', 8, 84, 153, 79, 64, 113),
 (73, 'User 74', 8, 74, 148, 118, 64, 104),
 (74, 'User 75', 8, 74, 153, 118, 59, 99),
 (75, 'User 76', 6, 118, 64, 101, 133, 92),
 (76, 'User 77', 6, 69, 153, 113, 59, 99),
 (77, 'User 78', 6, 123, 68, 89, 128, 90),
 (78, 'User 79', 6, 99, 104, 128, 64, 78),
 (79, 'User 80', 6, 124, 59, 84, 143, 88),
 (80, 'User 81', 6, 84, 131, 128, 93, 81),
 (81, 'User 82', 6, 113, 64, 89, 141, 86),
 (82, 'User 83', 6, 118, 64, 99, 134, 88),
 (83, 'User 84', 8, 89, 143, 84, 64, 118),
 (84, 'User 85', 6, 98, 89, 133, 69, 79),
 (85, 'User 86', 6, 98, 104, 109, 91, 101),
 (86, 'User 87', 8, 84, 143, 74, 74, 133),
 (87, 'User 88', 8, 123, 64, 93, 148, 90),
 (88, 'User 89', 6, 84, 113, 141, 98, 81),
 (89, 'User 90', 6, 59, 148, 125, 59, 97),
 (90, 'User 91', 8, 143, 69, 79, 143, 123),
 (91, 'User 92', 8, 94, 133, 84, 125, 97),
 (92, 'User 93', 8, 84, 108, 113, 93, 90),
 (93, 'User 94', 8, 84, 138, 89, 69, 123),
 (94, 'User 95', 6, 84, 108, 133, 98, 81),
 (95, 'User 96', 6, 99, 84, 138, 69, 83),
 (96, 'User 97', 8, 113, 94, 84, 109, 128),
 (97, 'User 98', 6, 148, 64, 74, 138, 128),
 (98, 'User 99', 8, 84, 138, 113, 64, 114),
 (99, 'User 100', 6, 98, 79, 138, 79, 79),
 (100, 'User 101', 8, 133, 84, 84, 133, 118),
 (101, 'User 102', 6, 79, 113, 106, 87, 88),
 (102, 'User 103', 8, 113, 104, 84, 94, 148),
 (103, 'User 104', 6, 69, 138, 113, 79, 99),
 (104, 'User 105', 6, 83, 103, 98, 99, 90),
 (105, 'User 106', 8, 69, 143, 123, 71, 97),
 (106, 'User 107', 8, 118, 94, 99, 99, 143),
 (107, 'User 108', 6, 74, 133, 99, 74, 113),
 (108, 'User 109', 12, 115, 94, 163, 109, 92),
 (109, 'User 110', 12, 123, 124, 109, 114, 168),
 (110, 'User 111', 12, 94, 133, 157, 133, 95),
 (111, 'User 112', 12, 104, 123, 163, 128, 89),
 (112, 'User 113', 14, 99, 198, 89, 74, 153),
 (113, 'User 114', 14, 113, 148, 99, 148, 110),
 (114, 'User 115', 14, 94, 163, 99, 94, 153),
 (115, 'User 116', 12, 133, 104, 119, 129, 133),
 (116, 'User 117', 14, 163, 69, 94, 188, 143),
 (117, 'User 118', 12, 74, 158, 158, 74, 119),
 (118, 'User 119', 12, 123, 124, 109, 129, 143),
 (119, 'User 120', 12, 94, 137, 148, 113, 100),
 (120, 'User 121', 12, 123, 129, 139, 99, 143),
 (121, 'User 122', 12, 89, 163, 99, 79, 143),
 (122, 'User 123', 14, 81, 173, 143, 79, 122),
 (123, 'User 124', 14, 135, 84, 158, 139, 92),
 (124, 'User 125', 12, 108, 113, 133, 114, 100),
 (125, 'User 126', 14, 138, 119, 119, 124, 158),
 (126, 'User 127', 12, 128, 122, 134, 109, 120),
 (127, 'User 128', 14, 79, 203, 153, 69, 119),
 (128, 'User 129', 12, 84, 150, 128, 104, 102),
 (129, 'User 130', 12, 148, 69, 104, 173, 138),
 (130, 'User 131', 14, 133, 124, 119, 124, 168),
 (131, 'User 132', 12, 89, 128, 148, 111, 102),
 (132, 'User 133', 12, 79, 183, 133, 70, 113),
 (133, 'User 134', 12, 96, 113, 113, 99, 97),
 (134, 'User 135', 14, 84, 161, 153, 84, 116),
 (135, 'User 136', 12, 109, 135, 158, 123, 92),
 (136, 'User 137', 12, 133, 74, 114, 175, 102),
 (137, 'User 138', 14, 133, 139, 124, 109, 128),
 (138, 'User 139', 12, 128, 124, 114, 111, 126),
 (139, 'User 140', 10, 97, 123, 108, 119, 111),
 (140, 'User 141', 12, 123, 104, 104, 134, 153),
 (141, 'User 142', 10, 113, 89, 168, 89, 89),
 (142, 'User 143', 12, 109, 148, 94, 133, 119),
 (143, 'User 144', 10, 165, 64, 94, 173, 97),
 (144, 'User 145', 12, 93, 123, 123, 124, 100),
 (145, 'User 146', 14, 143, 98, 119, 163, 105),
 (146, 'User 147', 12, 89, 158, 89, 89, 158),
 (147, 'User 148', 10, 113, 111, 153, 84, 97),
 (148, 'User 149', 12, 138, 86, 114, 158, 102),
 (149, 'User 150', 12, 79, 158, 148, 69, 119),
 (150, 'User 151', 14, 84, 178, 138, 87, 116),
 (151, 'User 152', 14, 84, 168, 148, 80, 113),
 (152, 'User 153', 14, 84, 173, 143, 69, 110),
 (153, 'User 154', 12, 104, 130, 178, 118, 92),
 (154, 'User 155', 10, 99, 123, 153, 128, 103),
 (155, 'User 156', 12, 93, 128, 118, 119, 100),
 (156, 'User 157', 12, 128, 119, 104, 119, 173),
 (157, 'User 158', 14, 94, 178, 109, 69, 143),
 (158, 'User 159', 12, 148, 69, 104, 168, 114),
 (159, 'User 160', 12, 113, 114, 109, 119, 143),
 (160, 'User 161', 12, 153, 74, 94, 163, 158),
 (161, 'User 162', 22, 139, 163, 114, 203, 139),
 (162, 'User 163', 14, 163, 99, 94, 158, 143),
 (163, 'User 164', 12, 89, 178, 89, 79, 153),
 (164, 'User 165', 12, 79, 183, 104, 69, 148),
 (165, 'User 166', 12, 168, 69, 84, 198, 133),
 (166, 'User 167', 22, 128, 158, 183, 158, 130),
 (167, 'User 168', 22, 129, 188, 109, 104, 198),
 (168, 'User 169', 16, 178, 74, 114, 198, 129),
 (169, 'User 170', 20, 143, 139, 139, 139, 148),
 (170, 'User 171', 20, 114, 198, 124, 114, 153),
 (171, 'User 172', 18, 105, 158, 143, 129, 133),
 (172, 'User 173', 20, 120, 193, 104, 148, 138),
 (173, 'User 174', 20, 98, 193, 163, 99, 140),
 (174, 'User 175', 22, 148, 174, 129, 129, 153),
 (175, 'User 176', 20, 183, 104, 164, 193, 153),
 (176, 'User 177', 18, 99, 203, 129, 94, 158),
 (177, 'User 178', 22, 139, 178, 139, 163, 144),
 (178, 'User 179', 22, 90, 188, 163, 109, 138),
 (179, 'User 180', 18, 163, 84, 129, 193, 139),
 (180, 'User 181', 18, 88, 178, 178, 89, 140),
 (181, 'User 182', 18, 114, 144, 213, 133, 128),
 (182, 'User 183', 22, 143, 124, 208, 134, 124),
 (183, 'User 184', 20, 188, 94, 104, 208, 158),
 (184, 'User 185', 18, 99, 228, 104, 84, 163),
 (185, 'User 186', 18, 178, 94, 114, 188, 173),
 (186, 'User 187', 22, 119, 198, 149, 114, 168),
 (187, 'User 188', 20, 114, 203, 109, 84, 158),
 (188, 'User 189', 18, 99, 193, 158, 99, 144),
 (189, 'User 190', 22, 153, 139, 154, 154, 183),
 (190, 'User 191', 20, 162, 94, 144, 198, 135),
 (191, 'User 192', 18, 132, 149, 139, 119, 144),
 (192, 'User 193', 18, 104, 193, 114, 99, 173),
 (193, 'User 194', 18, 99, 183, 128, 114, 129),
 (194, 'User 195', 20, 178, 89, 154, 198, 183),
 (195, 'User 196', 20, 114, 243, 104, 79, 173),
 (196, 'User 197', 22, 133, 183, 114, 183, 140),
 (197, 'User 198', 22, 148, 149, 154, 149, 148),
 (198, 'User 199', 22, 114, 213, 129, 94, 178),
 (199, 'User 200', 22, 188, 124, 114, 183, 188),
 (200, 'User 201', 25, 153, 159, 129, 139, 218),
 (201, 'User 202', 18, 114, 153, 178, 138, 124),
 (202, 'User 203', 22, 184, 84, 129, 233, 133),
 (203, 'User 204', 18, 84, 193, 188, 80, 138),
 (204, 'User 205', 18, 178, 129, 104, 183, 163),
 (205, 'User 206', 18, 114, 163, 163, 148, 124),
 (206, 'User 207', 16, 132, 94, 178, 109, 120),
 (207, 'User 208', 20, 93, 183, 178, 89, 140),
 (208, 'User 209', 16, 137, 104, 173, 109, 130),
 (209, 'User 210', 18, 153, 74, 114, 188, 129),
 (210, 'User 211', 18, 128, 114, 168, 124, 124),
 (211, 'User 212', 22, 114, 228, 119, 99, 168),
 (212, 'User 213', 22, 178, 89, 114, 203, 139),
 (213, 'User 214', 18, 173, 84, 99, 193, 158),
 (214, 'User 215', 20, 168, 89, 124, 183, 129),
 (215, 'User 216', 18, 83, 198, 163, 84, 140),
 (216, 'User 217', 22, 144, 173, 134, 173, 149),
 (217, 'User 218', 18, 198, 64, 89, 203, 153),
 (218, 'User 219', 20, 114, 208, 114, 119, 168),
 (219, 'User 220', 18, 114, 183, 114, 109, 178),
 (220, 'User 221', 18, 114, 173, 183, 128, 124),
 (221, 'User 222', 18, 128, 134, 188, 89, 124),
 (222, 'User 223', 18, 143, 154, 129, 129, 178),
 (223, 'User 224', 18, 128, 163, 173, 133, 130),
 (224, 'User 225', 18, 148, 99, 139, 168, 129),
 (225, 'User 226', 18, 83, 218, 163, 74, 140),
 (226, 'User 227', 22, 120, 168, 158, 144, 133),
 (227, 'User 228', 22, 203, 99, 104, 223, 173),
 (228, 'User 229', 18, 143, 139, 119, 139, 203),
 (229, 'User 230', 22, 153, 144, 139, 144, 193),
 (230, 'User 231', 18, 147, 144, 129, 149, 144),
 (231, 'User 232', 18, 188, 74, 109, 213, 168),
 (232, 'User 233', 25, 158, 154, 154, 154, 153),
 (233, 'User 234', 25, 104, 208, 168, 134, 144),
 (234, 'User 235', 25, 139, 153, 193, 158, 134),
 (235, 'User 236', 25, 84, 247, 168, 109, 140),
 (236, 'User 237', 25, 173, 89, 124, 233, 158),
 (237, 'User 238', 8, 93, 119, 99, 89, 138),
 (238, 'User 239', 22, 124, 168, 208, 148, 124),
 (239, 'User 240', 18, 114, 158, 178, 158, 124),
 (240, 'User 241', 20, 188, 94, 94, 223, 153),
 (241, 'User 242', 25, 114, 238, 124, 104, 178),
 (242, 'User 243', 18, 94, 188, 148, 99, 139),
 (243, 'User 244', 25, 129, 318, 94, 89, 188),
 (244, 'User 245', 18, 139, 148, 129, 129, 168),
 (245, 'User 246', 22, 114, 228, 104, 84, 168),
 (246, 'User 247', 20, 124, 178, 104, 158, 174),
 (247, 'User 248', 20, 133, 149, 139, 144, 213),
 (248, 'User 249', 20, 143, 149, 139, 159, 143)]

In [58]:
conn = sqlite3.connect('buddymove_holidayiq.sqlite3')

#Write a query.
engine.execute("SELECT COUNT(*) FROM test WHERE Nature >= 100 AND Shopping >= 100").fetchall()

[(78,)]