# MongoDB with PyMongo

LSDS Unit 3 Sprint 2 Module 3

Some resources:

https://docs.atlas.mongodb.com/getting-started/

https://api.mongodb.com/python/current/

HN Discussion on MongoDB versus PostgreSQL/SQLite: https://news.ycombinator.com/item?id=19158854

In [1]:
!curl ipecho.net/plain

35.231.92.142

In [0]:
#!pip install pymongo
import pymongo

In [0]:
#3.4
client = pymongo.MongoClient("mongodb://Nolanole:<password_redacted>#@cluster0-shard-00-00-g3koz.mongodb.net:27017,cluster0-shard-00-01-g3koz.mongodb.net:27017,cluster0-shard-00-02-g3koz.mongodb.net:27017/test?ssl=true&replicaSet=Cluster0-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.test

In [4]:
db

Database(MongoClient(host=['cluster0-shard-00-01-g3koz.mongodb.net:27017', 'cluster0-shard-00-00-g3koz.mongodb.net:27017', 'cluster0-shard-00-02-g3koz.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, ssl=True, replicaset='Cluster0-shard-0', authsource='admin', retrywrites=True, w='majority'), 'test')

In [5]:
client.nodes

frozenset()

In [6]:
db.test

Collection(Database(MongoClient(host=['cluster0-shard-00-01-g3koz.mongodb.net:27017', 'cluster0-shard-00-00-g3koz.mongodb.net:27017', 'cluster0-shard-00-02-g3koz.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, ssl=True, replicaset='Cluster0-shard-0', authsource='admin', retrywrites=True, w='majority'), 'test'), 'test')

In [0]:
#db.test.insert_one({'x':1})

In [8]:
db.test.count_documents({'x':1})

1

In [9]:
db.test.find()

In [0]:
artins_doc = {'fav_animal': 'silver panther'}

In [11]:
db.test.insert_one(artins_doc)

In [12]:
db.test.find_one(artins_doc)

{'_id': ObjectId('5cf8424ca48a52d3f3dd2a68'), 'fav_animal': 'silver panther'}

In [34]:
results = db.test.find()
list(results)[:2]

[{'_id': ObjectId('5cf7fb27280fa10036ab7af2'), 'x': 1},
 {'_id': ObjectId('5cf7fbfe280fa10036ab7af3'), 'fav_animal': 'silver panther'}]

In [14]:
alex_doc = {'fav_animal': 'parrot'}
wills_doc = {'fav_animal': 'goose'}

db.test.insert_one(alex_doc)
db.test.insert_one(wills_doc)

In [15]:
docs = []
for i in range(10):
  doc = {'even': i % 2 == 0}
  doc['value'] = i
  docs.append(doc)
  
docs

[{'even': True, 'value': 0},
 {'even': False, 'value': 1},
 {'even': True, 'value': 2},
 {'even': False, 'value': 3},
 {'even': True, 'value': 4},
 {'even': False, 'value': 5},
 {'even': True, 'value': 6},
 {'even': False, 'value': 7},
 {'even': True, 'value': 8},
 {'even': False, 'value': 9}]

In [16]:
db.test.insert_many(docs)

In [37]:
list(db.test.find())[:14]

[{'_id': ObjectId('5cf7fb27280fa10036ab7af2'), 'x': 1},
 {'_id': ObjectId('5cf7fbfe280fa10036ab7af3'), 'fav_animal': 'silver panther'},
 {'_id': ObjectId('5cf7fd47280fa10036ab7af4'), 'fav_animal': 'parrot'},
 {'_id': ObjectId('5cf7fd47280fa10036ab7af5'), 'fav_animal': 'goose'},
 {'_id': ObjectId('5cf7fda9280fa10036ab7af6'), 'even': True, 'value': 0},
 {'_id': ObjectId('5cf7fda9280fa10036ab7af7'), 'even': False, 'value': 1},
 {'_id': ObjectId('5cf7fda9280fa10036ab7af8'), 'even': True, 'value': 2},
 {'_id': ObjectId('5cf7fda9280fa10036ab7af9'), 'even': False, 'value': 3},
 {'_id': ObjectId('5cf7fda9280fa10036ab7afa'), 'even': True, 'value': 4},
 {'_id': ObjectId('5cf7fda9280fa10036ab7afb'), 'even': False, 'value': 5},
 {'_id': ObjectId('5cf7fda9280fa10036ab7afc'), 'even': True, 'value': 6},
 {'_id': ObjectId('5cf7fda9280fa10036ab7afd'), 'even': False, 'value': 7},
 {'_id': ObjectId('5cf7fda9280fa10036ab7afe'), 'even': True, 'value': 8},
 {'_id': ObjectId('5cf7fda9280fa10036ab7aff'), 'even': False, 'value': 9}]

In [38]:
list(db.test.find({'even': True}))[:5]

[{'_id': ObjectId('5cf7fda9280fa10036ab7af6'), 'even': True, 'value': 0},
 {'_id': ObjectId('5cf7fda9280fa10036ab7af8'), 'even': True, 'value': 2},
 {'_id': ObjectId('5cf7fda9280fa10036ab7afa'), 'even': True, 'value': 4},
 {'_id': ObjectId('5cf7fda9280fa10036ab7afc'), 'even': True, 'value': 6},
 {'_id': ObjectId('5cf7fda9280fa10036ab7afe'), 'even': True, 'value': 8}]

In [39]:
list (db.test.find({'even':False}))[:5]

[{'_id': ObjectId('5cf7fda9280fa10036ab7af7'), 'even': False, 'value': 1},
 {'_id': ObjectId('5cf7fda9280fa10036ab7af9'), 'even': False, 'value': 3},
 {'_id': ObjectId('5cf7fda9280fa10036ab7afb'), 'even': False, 'value': 5},
 {'_id': ObjectId('5cf7fda9280fa10036ab7afd'), 'even': False, 'value': 7},
 {'_id': ObjectId('5cf7fda9280fa10036ab7aff'), 'even': False, 'value': 9}]

In [0]:
cool_dict = {
    'awesome' :True,
    'even': False,
    'some_nums': [1,2,3],
    (3,4): (5,6)
}

In [21]:
fixed_dict = {str(key): value for key,value in cool_dict.items()}
fixed_dict

{'(3, 4)': (5, 6), 'awesome': True, 'even': False, 'some_nums': [1, 2, 3]}

In [22]:
db.test.insert_one(fixed_dict)

In [40]:
list(db.test.find())[:15]

[{'_id': ObjectId('5cf7fb27280fa10036ab7af2'), 'x': 1},
 {'_id': ObjectId('5cf7fbfe280fa10036ab7af3'), 'fav_animal': 'silver panther'},
 {'_id': ObjectId('5cf7fd47280fa10036ab7af4'), 'fav_animal': 'parrot'},
 {'_id': ObjectId('5cf7fd47280fa10036ab7af5'), 'fav_animal': 'goose'},
 {'_id': ObjectId('5cf7fda9280fa10036ab7af6'), 'even': True, 'value': 0},
 {'_id': ObjectId('5cf7fda9280fa10036ab7af7'), 'even': False, 'value': 1},
 {'_id': ObjectId('5cf7fda9280fa10036ab7af8'), 'even': True, 'value': 2},
 {'_id': ObjectId('5cf7fda9280fa10036ab7af9'), 'even': False, 'value': 3},
 {'_id': ObjectId('5cf7fda9280fa10036ab7afa'), 'even': True, 'value': 4},
 {'_id': ObjectId('5cf7fda9280fa10036ab7afb'), 'even': False, 'value': 5},
 {'_id': ObjectId('5cf7fda9280fa10036ab7afc'), 'even': True, 'value': 6},
 {'_id': ObjectId('5cf7fda9280fa10036ab7afd'), 'even': False, 'value': 7},
 {'_id': ObjectId('5cf7fda9280fa10036ab7afe'), 'even': True, 'value': 8},
 {'_id': ObjectId('5cf7fda9280fa10036ab7aff'), 'even': False, 'value': 9},
 {'(3, 4)': [5, 6],
  '_id': ObjectId('5cf7fec1280fa10036ab7b00'),
  'awesome': True,
  'even': False,
  'some_nums': [1, 2, 3]}]

##Assignment

###"How was working with MongoDB different from working with PostgreSQL? What was easier, and what was harder?"

I was able to pretty easily get the titanic data converted into python dictionary and then easily inserted with the db.test.insert_many() method. With postgresql yesterday I had a lot more debugging and roadblocks getting the date uploaded/inserted. Also there was no isseue w/ declaring datatypes or string formatting (removing apostrophes from names, for example) w/ MongoDB as opposed to postgresql. However, MongoDB seems to be more difficult to query, at least as far as I know how or can tell. I made a couple of example queries below, but they basically only use python and no SQL (not sure if this is the correct way to do this).

##Stretch Goal: Insert Titanic Data into MongoDB

In [24]:
import pandas as pd
url = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-3-Sprint-2-SQL-and-Databases/master/module2-sql-for-analysis/titanic.csv'
df = pd.read_csv(url)
df.Age = df.Age.astype('int')
df.head()

   Survived  Pclass  ... Parents/Children Aboard     Fare
0         0       3  ...                       0   7.2500
1         1       1  ...                       0  71.2833
2         1       3  ...                       0   7.9250
3         1       1  ...                       0  53.1000
4         0       3  ...                       0   8.0500

[5 rows x 8 columns]

In [25]:
df.shape

(887, 8)

In [0]:
def gen_titanic_dict(df):
  keys = df.columns.tolist()
  rows = [] 
  for idx, vals in df.iterrows():
    row = {'index': idx}
    for i in range(len(keys)):
      row[keys[i]] = vals.values[i]
    rows.append(row)
  return rows
          
titanic_dict = gen_titanic_dict(df)

In [27]:
len(titanic_dict)

887

In [28]:
db.test.insert_many(titanic_dict)

In [29]:
titanic_dict[:5]

[{'Age': 22,
  'Fare': 7.25,
  'Name': 'Mr. Owen Harris Braund',
  'Parents/Children Aboard': 0,
  'Pclass': 3,
  'Sex': 'male',
  'Siblings/Spouses Aboard': 1,
  'Survived': 0,
  '_id': ObjectId('5cf8424ea48a52d3f3dd2a76'),
  'index': 0},
 {'Age': 38,
  'Fare': 71.2833,
  'Name': 'Mrs. John Bradley (Florence Briggs Thayer) Cumings',
  'Parents/Children Aboard': 0,
  'Pclass': 1,
  'Sex': 'female',
  'Siblings/Spouses Aboard': 1,
  'Survived': 1,
  '_id': ObjectId('5cf8424ea48a52d3f3dd2a77'),
  'index': 1},
 {'Age': 26,
  'Fare': 7.925,
  'Name': 'Miss. Laina Heikkinen',
  'Parents/Children Aboard': 0,
  'Pclass': 3,
  'Sex': 'female',
  'Siblings/Spouses Aboard': 0,
  'Survived': 1,
  '_id': ObjectId('5cf8424ea48a52d3f3dd2a78'),
  'index': 2},
 {'Age': 35,
  'Fare': 53.1,
  'Name': 'Mrs. Jacques Heath (Lily May Peel) Futrelle',
  'Parents/Children Aboard': 0,
  'Pclass': 1,
  'Sex': 'female',
  'Siblings/Spouses Aboard': 1,
  'Survived': 1,
  '_id': ObjectId('5cf8424ea48a52d3f3dd2a79'),
  'index': 3},
 {'Age': 35,
  'Fare': 8.05,
  'Name': 'Mr. William Henry Allen',
  'Parents/Children Aboard': 0,
  'Pclass': 3,
  'Sex': 'male',
  'Siblings/Spouses Aboard': 0,
  'Survived': 0,
  '_id': ObjectId('5cf8424ea48a52d3f3dd2a7a'),
  'index': 4}]

###Example Queries:

In [30]:
#Find the number of males who survived:

print('Male survivors: ' + str(len(list(db.test.find({'Sex':'male', 'Survived': 1})))))
print('Males who did not survive: ' + str(len(list(db.test.find({'Sex':'male', 'Survived': 0})))))

Male survivors: 218
Males who did not survive: 928

In [31]:
#Find the number of females who survived:
print('Female survivors: ' + str(len(list(db.test.find({'Sex':'female', 'Survived': 1})))))
print('Females who did not survive: ' + str(len(list(db.test.find({'Sex':'female', 'Survived': 0})))))

Female survivors: 466
Females who did not survive: 162