In [ ]:
!pip install pymongo
!pip install dnspython

Requirement already satisfied: pymongo in /usr/local/lib/python3.7/dist-packages (4.1.1)
Requirement already satisfied: dnspython in /usr/local/lib/python3.7/dist-packages (2.2.1)

In [ ]:
import pymongo

In [ ]:
DBNAME = 'test'
PASSWORD = 'tpZxLu0SrvhicdD1'

In [ ]:
client = pymongo.MongoClient(f'mongodb+srv://ryan:{PASSWORD}@cluster0.byyg1.mongodb.net/{DBNAME}?retryWrites=true&w=majority')

In [ ]:
db = client.test

In [ ]:
# dir(db)

In [ ]:
db.test

Collection(Database(MongoClient(host=['cluster0-shard-00-00.byyg1.mongodb.net:27017', 'cluster0-shard-00-01.byyg1.mongodb.net:27017', 'cluster0-shard-00-02.byyg1.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-ol27hr-shard-0', tls=True), 'test'), 'test')

In [ ]:
# dir(db.test)

In [ ]:
help(db.test.insert_one)

Help on method insert_one in module pymongo.collection:

insert_one(document: Union[MutableMapping[str, Any], ForwardRef('RawBSONDocument')], bypass_document_validation: bool = False, session: Union[ForwardRef('ClientSession'), NoneType] = None, comment: Union[Any, NoneType] = None) -> pymongo.results.InsertOneResult method of pymongo.collection.Collection instance
    Insert a single document.

      >>> db.test.count_documents({'x': 1})
      0
      >>> result = db.test.insert_one({'x': 1})
      >>> result.inserted_id
      ObjectId('54f112defba522406c9cc208')
      >>> db.test.find_one({'x': 1})
      {'x': 1, '_id': ObjectId('54f112defba522406c9cc208')}

    :Parameters:
      - `document`: The document to insert. Must be a mutable mapping
        type. If the document does not have an _id field one will be
        added automatically.
      - `bypass_document_validation`: (optional) If ``True``, allows the
        write to opt-out of document level validation. Default is
        ``False``.
      - `session` (optional): a
        :class:`~pymongo.client_session.ClientSession`.
      - `comment` (optional): A user-provided comment to attach to this
        command.

    :Returns:
      - An instance of :class:`~pymongo.results.InsertOneResult`.

    .. seealso:: :ref:`writes-and-ids`

    .. note:: `bypass_document_validation` requires server version
      **>= 3.2**

    .. versionchanged:: 4.1
       Added ``comment`` parameter.

    .. versionchanged:: 3.6
       Added ``session`` parameter.

    .. versionchanged:: 3.2
      Added bypass_document_validation support

    .. versionadded:: 3.0

In [ ]:
db.test.count_documents({'x': 1})

0

In [ ]:
result = db.test.insert_one({'x': 1})

In [ ]:
db.test.count_documents({'x': 1})

1

In [ ]:
ryan = {
    'name': 'Ryan',
    'fav_food': 'tacos',
    'lucky_num': 6
}

In [ ]:
result = db.test.insert_one(ryan)

In [ ]:
result = db.people.insert_one(ryan)

In [ ]:
result = db.animals.insert_one({'name': 'fido',
                                'type': 'dog'})

In [ ]:
document = db.animals.find_one({'name':"fido"})

document['name']
document['type']
document['_id']

ObjectId('628b3eb282a4cee079e252fe')

In [ ]:
result = db.people.insert_one({'name': 'Sally',
                               'pets': [document['_id']]})

In [ ]:
db.person.delete_one({'name': 'Sally'})

In [ ]:
result = db.test.insert_one({'x': 1,
                             'x_1': {'x': 1},
                             'x_2': {'x_1': {'x': 1}},
                             'fav_documents': [{'x': 1}, {'x': 1}, {'x': 1}]
                            })

In [ ]:
result = db.test.insert_one({'x': 1})
result = db.test.insert_one({'x': 1})
result = db.test.insert_one({'x': 1})
result = db.test.insert_one({'x': 1})
result = db.test.insert_one({'x': 1})

In [ ]:
result = db.test.find({'x': 1})

list(result)

[{'_id': ObjectId('628b3d4782a4cee079e252fc'), 'x': 1},
 {'_id': ObjectId('628b431f82a4cee079e25301'),
  'fav_documents': [{'x': 1}, {'x': 1}, {'x': 1}],
  'x': 1,
  'x_1': {'x': 1},
  'x_2': {'x_1': {'x': 1}}},
 {'_id': ObjectId('628b434d82a4cee079e25302'), 'x': 1},
 {'_id': ObjectId('628b434d82a4cee079e25303'), 'x': 1},
 {'_id': ObjectId('628b434d82a4cee079e25304'), 'x': 1},
 {'_id': ObjectId('628b434d82a4cee079e25305'), 'x': 1},
 {'_id': ObjectId('628b434d82a4cee079e25306'), 'x': 1}]

In [ ]:
# dir(db.test)