<a href="https://colab.research.google.com/github/marilynle/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/module2-sql-for-analysis/Assignment_module_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading https://files.pythonhosted.org/packages/1e/c0/16303cef8d54fdcfae7be7880cf471f21449225687f61cc3be2a7ef4e6e5/psycopg2_binary-2.8.4-cp36-cp36m-manylinux1_x86_64.whl (2.9MB)
     |████████████████████████████████| 2.9MB 26kB/s
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.8.4

In [0]:
import pandas as pd
import psycopg2
import sqlite3

In [0]:
df = pd.read_csv('https://raw.githubusercontent.com/marilynle/DS-Unit-3-Sprint-2-SQL-and-Databases/master/module2-sql-for-analysis/titanic.csv')

In [4]:
df.head()

   Survived  Pclass  ... Parents/Children Aboard     Fare
0         0       3  ...                       0   7.2500
1         1       1  ...                       0  71.2833
2         1       3  ...                       0   7.9250
3         1       1  ...                       0  53.1000
4         0       3  ...                       0   8.0500

[5 rows x 8 columns]

In [0]:
# setting up and inserting the titanic data into a PostgreSQL database

In [0]:
database = 'wnpxjdxe'
user = 'wnpxjdxe'
password = 'fJMmXRjyVeYytErdt3-6XcItxU-iBtqu'
host = 'rajje.db.elephantsql.com'

In [8]:
!wget https://github.com/LambdaSchool/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/module2-sql-for-analysis/titanic.csv?raw=true

--2019-12-11 04:57:53--  https://github.com/LambdaSchool/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/module2-sql-for-analysis/titanic.csv?raw=true
Resolving github.com (github.com)... 140.82.114.4
Connecting to github.com (github.com)|140.82.114.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://github.com/LambdaSchool/DS-Unit-3-Sprint-2-SQL-and-Databases/raw/master/module2-sql-for-analysis/titanic.csv [following]
--2019-12-11 04:57:53--  https://github.com/LambdaSchool/DS-Unit-3-Sprint-2-SQL-and-Databases/raw/master/module2-sql-for-analysis/titanic.csv
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/LambdaSchool/DS-Unit-3-Sprint-2-SQL-and-Databases/master/module2-sql-for-analysis/titanic.csv [following]
--2019-12-11 04:57:53--  https://raw.githubusercontent.com/LambdaSchool/DS-Unit-3-Sprint-2-SQL-and-Databases/master/module2-sql-for-analysis/titanic.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 44225 (43K) [text/plain]
Saving to: ‘titanic.csv?raw=true’

titanic.csv?raw=tru 100%[===================>]  43.19K  --.-KB/s    in 0.02s

2019-12-11 04:57:53 (2.11 MB/s) - ‘titanic.csv?raw=true’ saved [44225/44225]

In [9]:
!mv 'titanic.csv?raw=true' titanic.csv
!ls -alh

total 60K
drwxr-xr-x 1 root root 4.0K Dec 11 04:58 .
drwxr-xr-x 1 root root 4.0K Dec 11 04:52 ..
drwxr-xr-x 1 root root 4.0K Dec  6 16:53 .config
drwxr-xr-x 1 root root 4.0K Dec  6 16:53 sample_data
-rw-r--r-- 1 root root  44K Dec 11 04:57 titanic.csv

In [0]:
pg_conn = psycopg2.connect(database=database, user=user, password=password, host=host)
pg_curs = pg_conn.cursor()

In [0]:
# set up a new table for the Titanic data (titanic.csv) 
create_titanic_table = """
CREATE TABLE titanic(
    index serial PRIMARY KEY,
    survived INT,
    p_class INT,
    name VARCHAR (100) NOT NULL,
    sex VARCHAR (100) NOT NULL,
    age INT,
    siblings_spouses_aboard INT,
    parents_children_aboard INT,
    fare INT
);
"""

In [0]:
pg_curs.execute(create_titanic_table)

In [0]:
show_tables = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog'
AND schemaname != 'information_schema';
"""

In [20]:
pg_curs.execute(show_tables)
pg_curs.fetchall()

[('public', 'titanic', 'wnpxjdxe', None, True, False, False, False)]

In [0]:
# Once it is set up, write a insert_titanic.py script that uses psycopg2 to connect to and upload the data from the csv, and add the file to your repo

pg_curs.close() #closed the cursor
pg_conn.commit() #commited changes to database