In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('titanic.csv')

In [8]:
df.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [17]:
tup = [tuple(x) for x in df.values]

In [18]:
tup[0]

(0, 3, 'Mr. Owen Harris Braund', 'male', 22.0, 1, 0, 7.25)