In [17]:
import sqlite3

#Open a connection to a new (blank) database file `demo_data.sqlite3`
conn = sqlite3.connect('demo_data.sqlite3')

curs = conn.cursor()
curs.execute("DROP TABLE IF EXISTS demo")

#crete the demo table
create_demo_table = """
	CREATE TABLE demo (
		s PRIMARY KEY,
		x INT,
		y INT
	)
"""

#execute the table creation 
curs.execute(create_demo_table)

In [0]:
row_tuples = [('g', 3, 9),
              ('v', 5, 7),
              ('f', 8, 7)]

#iterate over each row in the tuples list and insert them into the titanic table:
for row in row_tuples:
  insert_row = "INSERT INTO demo VALUES" + str(row)
  curs.execute(insert_row)

conn.commit()

In [19]:
#re-establish a cursor object:
curs = conn.cursor()

#query all the data from the demo table
curs.execute('SELECT * FROM demo')
curs.fetchall()

[('g', 3, 9), ('v', 5, 7), ('f', 8, 7)]

In [20]:
questions = ['Q1: Count how many rows you have - it should be 3!',
             'Q2: How many rows are there where both `x` and `y` are at least 5?',
             'Q3: How many unique values of `y` are there?']

queries = ["SELECT COUNT(*) FROM demo;",
           "SELECT COUNT(*) FROM demo WHERE x >= 5 AND y >= 5;",
           "SELECT COUNT(DISTINCT y) FROM demo;"]

#iterate over and print each question, execute the corresponding query, print the result:
for i in range(len(questions)):
  print(questions[i])
  curs.execute(queries[i])
  print(curs.fetchall()[0][0])
  print('\n')

Q1: Count how many rows you have - it should be 3!
3


Q2: How many rows are there where both `x` and `y` are at least 5?
2


Q3: How many unique values of `y` are there?
2

In [21]:
from google.colab import files
uploaded = files.upload()

Saving northwind_small.sqlite3 to northwind_small.sqlite3

In [22]:
###Part 2
print('###Part 2:\n')

#Open a connection to northwind_small.sqlite3
conn = sqlite3.connect('northwind_small.sqlite3')
curs = conn.cursor()

#Put the questions and quesries into lists:
questions = ['Q1: What are the ten most expensive items (per unit price) in the database?',
        	 'Q2: What is the average age of an employee at the time of their hiring?',
			 'Q3: (*Stretch*) How does the average age of employee at hire vary by city?']

queries = ["SELECT ProductName, UnitPrice FROM Product ORDER BY UnitPrice DESC LIMIT 10;",
		   "SELECT ROUND(AVG(HireDate - BirthDate),1) AS Avg_Age FROM Employee;",
		   "SELECT CITY, AVG(HireDate - BirthDate) AS Avg_Age FROM Employee GROUP BY CITY;"]

#Iterate and execute the queries and print the questions and results:
for i in range(len(questions)):
	print(questions[i])
	curs.execute(queries[i])
	results = curs.fetchall()
	if len(results) == 1:
		print(results)
	else:
		for res in results:
			print(res)
	print('\n')

### Part 3 - Sailing the Northwind Seas
print('###Part 3:\n')

questions = ['Q1: What are the ten most expensive items (per unit price) in the database *and* their suppliers?',
			 'Q2: What is the largest category (by number of unique products in it)?',
			 "Q3: (*Stretch*) Who's the employee with the most territories?"]

queries = ["SELECT Product.ProductName, Product.UnitPrice, Supplier.CompanyName AS Supplier FROM Product, Supplier WHERE Product.SupplierID = Supplier.ID ORDER BY UnitPrice DESC LIMIT 10;",
		   "SELECT Category.CategoryName, COUNT(*) FROM Product, Category WHERE Product.CategoryID = Category.ID GROUP BY Product.CategoryID ORDER BY COUNT(*) DESC LIMIT 1;",
		   "SELECT Employee.FirstName, Employee.LastName, COUNT(*) FROM Employee, EmployeeTerritory WHERE EmployeeTerritory.EmployeeID = Employee.ID GROUP BY Employee.ID ORDER BY COUNT(*) DESC LIMIT 1;"]

#Iterate and execute the queries and print the questions and results:
for i in range(len(questions)):
	print(questions[i])
	curs.execute(queries[i])
	results = curs.fetchall()
	if len(results) == 1:
		print(results)
	else:
		for res in results:
			print(res)
	print('\n')

### Part 4 - Questions (and your Answers)
print('###Part 4:\n')

questions = ['Q1: In the Northwind database, what is the type of relationship between the `Employee` & `Territory` tables?',
			 '''Q2: What is a situation where a document store (like MongoDB) is appropriate, and what is a situation where 
it is not appropriate?''',
			 'Q3: What is "NewSQL", and what is it trying to achieve?']

answers = ['A1: The employee to Territory relationship is "one-to-many".',
		   '''A2: A document store such as MongoDB is appropriate for storing large amounts of documents(data), usually 
unstructured or semi-structured. It is a non-relational database paradigm consisting of key-value pairs like JSON files 
or python dictionaries. The data can be broken into subsets and stored across multiple servers (generally someone else's 
machines). Basically, if the amount of data is extremely large, and a organized schema is not necessary, NoSQL paradigm is 
probably the way to go. However, in a situation where a relational approach is a necessity, such as with banking, the 
reliability of SQL is probably more important than the scalability of document oriented databases.''',
		   '''A3: NewSQL is a hybrid approach that seeks to combine the best of both types of database systems, namely by combining 
the transactional and consistency requirements of SQL with the scalability of NoSQL.''']

for i in range(len(questions)):
	print(questions[i])
	print(answers[i])
	print('\n')

###Part 2:

Q1: What are the ten most expensive items (per unit price) in the database?
('Côte de Blaye', 263.5)
('Thüringer Rostbratwurst', 123.79)
('Mishi Kobe Niku', 97)
("Sir Rodney's Marmalade", 81)
('Carnarvon Tigers', 62.5)
('Raclette Courdavault', 55)
('Manjimup Dried Apples', 53)
('Tarte au sucre', 49.3)
('Ipoh Coffee', 46)
('Rössle Sauerkraut', 45.6)


Q2: What is the average age of an employee at the time of their hiring?
[(37.2,)]


Q3: (*Stretch*) How does the average age of employee at hire vary by city?
('Kirkland', 29.0)
('London', 32.5)
('Redmond', 56.0)
('Seattle', 40.0)
('Tacoma', 40.0)


###Part 3:

Q1: What are the ten most expensive items (per unit price) in the database *and* their suppliers?
('Côte de Blaye', 263.5, 'Aux joyeux ecclésiastiques')
('Thüringer Rostbratwurst', 123.79, 'Plutzer Lebensmittelgroßmärkte AG')
('Mishi Kobe Niku', 97, 'Tokyo Traders')
("Sir Rodney's Marmalade", 81, 'Specialty Biscuits, Ltd.')
('Carnarvon Tigers', 62.5, 'Pavlova, Ltd.')
('Raclette Courdavault', 55, 'Gai pâturage')
('Manjimup Dried Apples', 53, "G'day, Mate")
('Tarte au sucre', 49.3, "Forêts d'érables")
('Ipoh Coffee', 46, 'Leka Trading')
('Rössle Sauerkraut', 45.6, 'Plutzer Lebensmittelgroßmärkte AG')


Q2: What is the largest category (by number of unique products in it)?
[('Confections', 13)]


Q3: (*Stretch*) Who's the employee with the most territories?
[('Robert', 'King', 10)]


###Part 4:

Q1: In the Northwind database, what is the type of relationship between the `Employee` & `Territory` tables?
A1: The employee to Territory relationship is "one-to-many".


Q2: What is a situation where a document store (like MongoDB) is appropriate, and what is a situation where
it is not appropriate?
A2: A document store such as MongoDB is appropriate for storing large amounts of documents(data), usually
unstructured or semi-structured. It is a non-relational database paradigm consisting of key-value pairs like JSON files
or python dictionaries. The data can be broken into subsets and stored across multiple servers (generally someone else's
machines). Basically, if the amount of data is extremely large, and a organized schema is not necessary, NoSQL paradigm is
probably the way to go. However, in a situation where a relational approach is a necessity, such as with banking, the
reliability of SQL is probably more important than the scalability of document oriented databases.


Q3: What is "NewSQL", and what is it trying to achieve?
A3: NewSQL is a hybrid approach that seeks to combine the best of both types of database systems, namely by combining
the transactional and consistency requirements of SQL with the scalability of NoSQL.